<%-include('./partials/head') %>        
        
<% if (locals.user != undefined) { %>
  <%- include('./partials/headerLogeado')  %> 
<% }else {%>
  <%- include('./partials/Header')  %> 
<% } %> 

<div class="banner">
    <img src="/imagenes/bannerr.png" alt="bannerDeDescuentos"/> 
</div>
        

	
<%-include('./partials/footer') %>