<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
</head>
<body>
    <h1>Productos en lista</h1>
    
        <% for (let i=0; i< productos.length; i++)  {%>
            <div class="tarjeta-producto">
            <p><%= productos[i].nombre%>
            <%= productos[i].marca%>
            <%= productos[i].modelo%>
            <%= productos[i].descripcion%></p>
            </div>
            <% } %>
                
  
</body>
</html>