<%-include('./partials/head') %> 

<%-include('./partials/header') %>

	<!-- register formulario -->
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				
				<h2 class="products-title">Registrate</h2>
			
			<form action="/usuario/register" method="post">

				<label>Correo electronico </label>
				<input type="email" name="email" value="">
				<br> 
				
				<br>		
				<label>Nombre de usuario </label>
				<input type="text" name="usuarioNombre" value="">
				<br>

				<br>
				<label>Contraseña: </label>
				<input type="password" name="pssword" value="">
				<br>

				
				<br>

				<label>Fecha de Nacimiento: </label>
				<input type="date" name="fecha_nacimiento" value="">
				<br>
				
				<label>Numero de Documento:</label>
				<input type="text" name="documento" required title="El DNI debe contener 8 números">
				<br>
				
				<label class="form-label">Imagen de perfil</label>
                <input type="text" name="imagen_usuario" class="form-input">

				

				<button type="submit" action="/usuario/login">Enviar</button>
		
		
		
			</form>
			</div>
		</div>
	</div>
<%-include('./partials/footer') %>