<%-include('./partials/head') %> 

<%-include('./partials/header') %>

	<!-- register formulario -->
    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<form action="/usuario/register" method="post"></form>
				<h2 class="products-title">Registrate</h2>
			</div>
			<form action="" method="post ">

				<label>Mail: </label>
				<input type="email" name="email" value="">
		
				<br>   

				<br>
				<label>Contraseña: </label>
				<input type="password" name="contraseña" value="">
				<br>

				<br>		
				<label>Usuario: </label>
				<input type="text" name="usuario" value="">
				<br>
				<br>

				<!-- <label>Fecha de Nacimiento: </label>
				<input type="date" name="fecha" value="">
				<br>
				<br> -->
				<!-- <label>Numero de Documento: </label>
				<input type="text" name="documento" pattern="[0-9]" maxlength="8" required title="El DNI debe contener 8 números">
				<br>
				<br>
				<label>Foto de Perfil: </label>
				<input type="image" name="fotoPerfil" value="">
				<br>
				<br> -->

				<button type="submit" action="/usuario/login" >Enviar</button>
		
		
		
			</form>

<%-include('./partials/footer') %>