<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>En Dassler con tu compra con tarjeta de credito, te ofrecemos 3, 6 u 12 cuotas sin interes sin importar tu banco de preferencia</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Beneficios Exclusivos</h2>
                    <p>Con la membresia Dassler, obtendras beneficios exclusivos en envios y promociones unicas </p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-truck"></i>
                    <h2>Envios y seguridad</h2>
                    <p>Servicio de envio a todo el pais y sus alrededores, sin coste adicional</p>
                </article>
            </div>
        </div>
    </div>
</footer>